.idea/.name
.idea/avro_client.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
target/classes/com/noway/avro/client/connect/AvroRpcClient.class
target/classes/com/noway/avro/client/main/ClientStart.class
target/classes/com/noway/avro/client/proto/AvroRequestProto$Callback.class
target/classes/com/noway/avro/client/proto/AvroRequestProto.class
target/classes/com/noway/avro/client/proto/Message$1.class
target/classes/com/noway/avro/client/proto/Message$Builder.class
target/classes/com/noway/avro/client/proto/Message.class
target/classes/com/noway/avro/client/tools/CodeEnum.class
target/classes/com/noway/avro/client/tools/JsonConvert.class
target/classes/avro/AvroRequestProto.avpr
target/classes/com/noway/avro/client/connect/AvroRpcClient$DaemonThreadFactory.class
target/classes/com/noway/avro/client/connect/AvroRpcClient$InnerInstance.class
target/classes/com/noway/avro/client/connect/AvroRpcClient$TransceiverThreadFactory.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
avro_client.iml
error.log
info.log
